.wrapper {
  margin: 0 auto -100px;
  padding: 0 15px;
  max-width: 1296px;
  min-height: 100%;
  box-sizing: content-box;
}

.push {
  height: 100px;
}

header {
  padding-left: 4%;
  padding-right: 3%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  background-color: #838282;

  ul {
    display: flex;
    gap: 8px;
  }

  li {
    list-style: none;

    :hover {
      color: #89bbf5;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  nav {
    list-style: none;
  }
}

footer {
  margin: 0 auto;
  max-width: 1296px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #838282;

  p {
    color: white;
  }
}

h1 {
  text-align: center;
  font-family: Roboto, sans-serif;
}

